
    /* main text colour */
    :root{
    --primary-text-colour: #212121;
    --hero-colour: #FFFFFF;
    --secondary-text-colour: #757575;
    --accent-colourbackground: #2196F3;
    --backgr-alt-color: #F5F4FA;

    }  
             /* BODY */
.body{font-family: Roboto;}

            /* Хедер */
.logo-header
     {
     
     font-family: 'Raleway';
     font-weight: 700;
     font-size: 26px;
     line-height: 119.2%;
     letter-spacing: 0.03em; 
     color: #2196F3;
     text-decoration: none;
    }
.logo-header:hover,
.logo-header:focus{text-decoration: underline;}

.logo-second-color{
 color: var(--primary-text-colour ) 
}
.logo-main-color{

}
.list{list-style: none;
   
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 114.2%;
    letter-spacing: 0.02em;
    
    color: var(--primary-text-colour);}

.nav-list
    {
        list-style: none;
     text-decoration:none;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 16px;
     letter-spacing: 0.02em;
     
     color: #212121;}
     .nav-link-item-current{
        text-decoration:none;
     }
     .nav-link-item
     {
        text-decoration:none;
        color: var(--primary-text-colour);
     }
.nav-link-item:hover,
.nav-link-item:focus
{color: var(--accent-colourbackground)

}
.nav-contact-item
{
font-weight: 500;
font-size: 14px;
line-height: 114.2%;
letter-spacing: 0.02em;

color: #757575;
}
.nav-contact-item:hover,
..nav-contact-item:focus{color: var(--accent-colourbackground)}
.nav-link-item-current{
    color: var(--accent-colourbackground)
}
.nav-contact-item:hover,
.nav-contact-item:focus{color: var(--accent-colourbackground)
    }


            /* Секция ХЕРО */
.hero-title
{
 
    font-weight: 900;
    font-size: 44px;
    line-height: 136.3%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-colour);
   
}
.hero-button
{  
    font-weight: 700;
    font-size: 16px;
    line-height: 187.5%;
    color: var(--hero-colour);
    background-color: var(--accent-colourbackground)
}
.hero-button:hover,
.hero-button:focus{background-color:#188CE8 ;}
.hero
{
 display: inline-block;
background-color: #2F303A;
}
            /* Преимущества */
            

.item-title
     {
      
      font-weight: 700;
      font-size: 14px;
      line-height: 114.2%;
      letter-spacing: 0.03em;
       color: var(--primary-text-colour);
     }
.item-text
     {
      font-weight: 400;
      font-size: 14px;
      line-height: 171.4%;                
      letter-spacing: 0.03em; 
      color: var(--secondary-text-colour);
                
     }

            /* чем мы занимаемся */

            /* наша команда */

.team
      {
          background-color: var(--backgr-alt-color);
       }
.team title
   {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 116,6%;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
      }
.member
            {  
      font-weight: 500;
      font-size: 16px;
      line-height: 118.75%;
      color: var(--primary-text-colour);
            }
.member-proffesion
            {   
      font-weight: 400;
      font-size: 16px;
      line-height: 118.75%;
      letter-spacing: 0.03em;
      color: var(--secondary-text-colour);
                   }
                               /* Портфолио */

.portfolio-buttons
{
 font-weight: 500;
 font-size: 16px;
 line-height: 162.5%;
  color: var(--primary-text-colour);
  background-color: #F5F4FA;
 }
             
.portfolio-buttons:hover,
.portfolio-buttons:focus
  {background-color: var(--accent-colourbackground) ;
      color:var(--hero-colour);
  }


.uniqe-case
{
text-decoration:none;

font-weight: 700;
font-size: 18px;
line-height: 200%;
color: #212121;
letter-spacing: 0.06em;
}
.portfolio-link{
 text-decoration:none;
}
.uniqe-case-topic
{

font-weight: 400;
font-size: 16px;
line-height: 187.5%;
letter-spacing: 0.03em;
color: #757575;
}

            /* футер */

.logo-footer
     {
     font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 26px;
     line-height: 119.2% ;
     letter-spacing: 0.03em; 
     color: #2196F3;
     text-decoration: none;
    }
     .logo-footer:hover,
     .logo-footer:focus{text-decoration: underline;}
    {color:#212121}
.logo-footer-color{
    color: var(--backgr-alt-color)
}
.footer
   {background-color: #2F303A;}
.footer-links
   {

   }
.adress
   {
  
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 171.4%;
   color: #FFFFFF;

            }
 .contact-links
 {
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 171.4%;           
     color: rgba(255, 255, 255, 0.6);
     
 }

